<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>createUser</servlet-name>
  	<servlet-class>servlets.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>createUser</servlet-name>
  	<url-pattern>/user/create</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>addFriend</servlet-name>
  	<servlet-class>servlets.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addFriend</servlet-name>
  	<url-pattern>/friend/add</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>removeFriend</servlet-name>
  	<servlet-class>servlets.RemoveFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>removeFriend</servlet-name>
  	<url-pattern>/friend/remove</url-pattern>
  </servlet-mapping>
</web-app>